.element {
    width: 200px;
    height: 500px;
    background-color: #e84610;
    transition: transform 1s ease-in-out;
    
}

.element:hover {
    transform: scale(1.2) translate(100px) rotate(20deg);
}